<div class="filter__checks">
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                1600 <span class="grey-text">(1)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2380 <span class="grey-text">(3)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2480 <span class="grey-text">(6)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2580 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2680 <span class="grey-text">(52)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2780 <span class="grey-text">(80)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2880 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2980 <span class="grey-text">(545)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                1600 <span class="grey-text">(1)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2380 <span class="grey-text">(3)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2480 <span class="grey-text">(6)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2580 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2680 <span class="grey-text">(52)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2780 <span class="grey-text">(80)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2880 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check check">
        <input type='checkbox' />
        <label>
            <span>
                2980 <span class="grey-text">(545)</span>
            </span>
        </label>
    </div>




    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                1600 <span class="grey-text">(1)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2380 <span class="grey-text">(3)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2480 <span class="grey-text">(6)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2580 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2680 <span class="grey-text">(52)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2780 <span class="grey-text">(80)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2880 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2980 <span class="grey-text">(545)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                1600 <span class="grey-text">(1)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2380 <span class="grey-text">(3)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2480 <span class="grey-text">(6)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2580 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2680 <span class="grey-text">(52)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2780 <span class="grey-text">(80)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2880 <span class="grey-text">(10)</span>
            </span>
        </label>
    </div>
    <div class="filter__check filter__check-hidden check">
        <input type='checkbox' />
        <label>
            <span>
                2980 <span class="grey-text">(545)</span>
            </span>
        </label>
    </div>
</div>