<div class="sort__col">
    <button class="sort__btn sort__btn--active">
    <span class="sort__title">Наименование</span>
    <span class="sort__arrow">
        <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
        </svg>
    </span>
</button>
</div>
<div class="sort__col">
    <div class="sort__subcol">
        <button class="sort__btn">
        <span class="sort__title">Длина, мм</span>
        <span class="sort__arrow">
            <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
            </svg>
        </span>
    </button>
    </div>
    <div class="sort__subcol">
        <button class="sort__btn">
        <span class="sort__title">Ширина, мм</span>
        <span class="sort__arrow">
            <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
            </svg>
        </span>
    </button>
    </div>
    <div class="sort__subcol">
        <button class="sort__btn">
        <span class="sort__title">Высота, мм</span>
        <span class="sort__arrow">
            <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
            </svg>
        </span>
    </button>
    </div>
</div>
<div class="sort__col">
    <button class="sort__btn">
    <span class="sort__title">Вес, кг</span>
    <span class="sort__arrow">
        <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
        </svg>
    </span>
</button>
</div>
<div class="sort__col">
    <button class="sort__btn">
    <span class="sort__title">Цена</span>
    <span class="sort__arrow">
        <svg width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7L13.0622 0.25H0.937822L7 7Z" fill="#939393"/>
        </svg>
    </span>
</button>
</div>