@import "../vars.scss";
.cartcalc {
    flex-shrink: 0;
    width: 84px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        background-color: transparent;
        border: none;
        width: calc(100% - 44px);
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        height: 100%;
        text-align: center;
        border: 1px solid transparent;
        &:hover,
        &:focus,
        &:active {
            border-color: $grey2;
            background-color: #fff;
        }
    }
    button {
        width: 14px;
        height: 14px;
        &:hover {
            path {
                stroke: $primaryHover;
            }
        }
        &:active {
            path {
                stroke: $black;
            }
        }
    }
}

.form-group {
    position: relative;
    margin-bottom: 12px;
    input,
    textarea {
        background: transparent;
        border-radius: 6px;
        width: 100%;
        height: 54px;
        padding: 0 24px;
        font-size: 16px;
        line-height: 171%;
        border: 1px solid $grey2;
        &:hover,
        &:focus,
        &:active {
            border-color: $grey;
        }
        &:focus,
        &.input-active {
            &+label {
                left: 20px;
                padding: 0 4px;
                background-color: #fff;
                font-size: 14px;
                top: 0;
            }
        }
        &::placeholder {
            color: $grey;
            font-size: 16px;
        }
    }
    label {
        transition: all .225s;
        pointer-events: none;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 171%;
        font-weight: 400;
        color: $grey;
    }
    textarea {
        min-height: 100px;
        resize: vertical;
        padding-top: 12px;
        padding-bottom: 12px;
        &+label {
            top: 12px;
            opacity: 0;
        }
        &:focus,
        &.input-active {
            &+label {
                opacity: 1;
            }
        }
    }
    &--error {
        input {
            border-color: $red;
        }
        .form-group__error-text {
            display: flex;
        }
    }
    &__error-text {
        display: none;
        align-items: center;
        position: absolute;
        top: 100%;
        margin-top: 4px;
        color: $red;
        font-size: 12px;
        line-height: 120%;
        svg {
            margin-right: 4px;
        }
    }
    &--dark {
        input,
        textarea {
            border-color: $grey;
            color: #fff;
            &.input-active,
            &:focus {
                &+label {
                    background: $dark;
                }
            }
        }
    }
}

.pass-toggle{
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    &--active{
        .pass-toggle__show{
            display: none;
        }
        .pass-toggle__hide{
            display: unset;
        }
    }
    &__hide{
        display: none;
    }
    svg{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.check,
.radio {
    position: relative;
    min-height: 23px;
    display: flex;
    align-items: center;
    input {
        position: absolute;
        opacity: 0;
        width: 23px;
        height: 23px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                background-image: url(../img/check.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &:hover+label {
            // color: $grey;
            &::before {
                border-color: $grey;
            }
        }
        &:disabled+label {
            color: #AAAAAA;
            pointer-events: none;
        }
    }
    label {
        padding-left: 40px;
        position: relative;
        min-height: 14px;
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border-radius: 4px;
            border: 1px solid $grey2;
            width: 23px;
            height: 23px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        a {
            text-decoration: underline;
            position: relative;
            z-index: 3;
        }
    }
}

.radio {
    & input:checked+label {
        &::before {
            background-image: none;
        }
        &::after {
            opacity: 1;
        }
    }
    label {
        font-size: 18px;
        &::before {
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 12px;
            height: 12px;
            left: 9px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $black;
            border-radius: 50%;
            opacity: 0;
        }
    }
}

.file-input {
    position: relative;
    &__drop-area {
        position: relative;
        height: 70px;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        &:hover+label {
            border-color: $grey;
        }
        &:active,
        &.is-active {
            &+label {
                border-color: $grey;
                background-color: $grey3;
            }
        }
    }
    label {
        height: 100%;
        width: 100%;
        border: 1px dashed $grey2;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 140%;
        transition: all .225s;
    }
    &--uploading {
        .file-input__upload--uploading {
            display: flex;
        }
    }
    &--uploaded {
        .file-input__upload--uploaded {
            display: flex;
        }
    }
    &--error {
        .file-input__upload--uploaded,
        .form-group__error-text {
            display: flex;
        }
    }
    &__upload {
        margin-top: 24px;
        display: flex;
        align-items: center;
        display: none;
        &-left {
            flex-grow: 1;
            max-width: calc(100% - 32px);
        }
        &-cancel {
            flex-shrink: 0;
            margin-left: 16px;
            &:hover {
                path {
                    fill: $primary;
                }
            }
        }
        &-img {
            flex-shrink: 0;
            width: 40px;
            margin-right: 12px;
            img {
                width: 100%;
            }
            &+.file-input__upload-left {
                max-width: calc(100% - 84px);
            }
        }
        &-clip {
            flex-shrink: 0;
            width: 16px;
            margin-right: 8px;
            img {
                width: 100%;
            }
            &+.file-input__upload-left {
                max-width: calc(100% - 56px);
            }
        }
        &-title {
            font-size: 16px;
            line-height: 140%;
            white-space: nowrap;
            max-width: 100%;
            display: flex;
        }
        &-cut {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-progress {
            width: 100%;
            height: 4px;
            border-radius: 6px;
            margin-top: 4px;
            position: relative;
            background-color: $primaryLight;
            span {
                border-radius: 6px;
                background-color: $primary;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 100%;
            }
        }
    }
}

.custom-select {
    &--active {
        .custom-select__dropdown {
            opacity: 1;
            pointer-events: unset;
        }
        .custom-select__arrow {
            svg {
                transform: rotate(180deg);
            }
        }
        input {
            pointer-events: none;
        }
    }
    input {
        height: 40px;
        padding: 0 35px 0 22px;
        font-size: 14px;
        cursor: pointer;
    }
    &__arrow {
        position: absolute;
        right: 22px;
        top: 11.5px;
        pointer-events: none;
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        margin-top: 4px;
        width: 100%;
        z-index: 20;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid $grey2;
        padding: 10px 22px;
        opacity: 0;
        pointer-events: none;
        transition: all .225s;
    }
    &__item {
        font-size: 14px;
        line-height: 140%;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        &:hover {
            color: $primaryHover;
            cursor: pointer;
        }
        &--selected {
            pointer-events: none;
            font-weight: 600;
        }
    }
}

.j-select{
    padding: 0;
    height: 42px;
    border:none;
    float: unset;
    width: unset;
    min-width: 100%;
    font-size: 16px;
    line-height: 140%;
    .current{
        display: flex;
        align-items: center;
        padding: 0 60px 0 22px;
        height: 100%;
        border-radius: 4px;
        border: 1px solid $grey2;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L6 5.5L11 0.5' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 22px center;
    }
    &.open{
        .current{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5.5L6 0.5L1 5.5' stroke='%23333333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }
    .list{
        border-radius: 4px;
        border: 1px solid $grey2;
        width: unset;
        min-width: 100%;
        max-height: 400px;
        overflow-y: auto;
    }
    .option{
        margin: 0;
        padding: 0 22px;
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 140%;
        border:none;
        &:not(:last-child){
            border-bottom: 1px solid $grey2;
        }
        &.selected,
        &:hover{
            background-color: $primary !important;
            border-color: $primary !important;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 800px) {
    .custom-select {
        input {
            padding: 0 30px 0 18px;
        }
        &__dropdown {
            padding-left: 18px;
            padding-right: 18px;
        }
        &__arrow {
            right: 12px;
        }
    }
    .radio {
        label {
            font-size: 15px;
            &::before {
                width: 24px;
                height: 24px;
            }
            &::after {
                left: 7px;
                width: 10px;
                height: 10px;
            }
        }
    }
    .form-group {
        input,
        textarea {
            font-size: 14px;
        }
    }

    .j-select{
        font-size: 14px;
        .current{
            padding-right: 48px;
            height: 40px;
        }
        .option{
            font-size: 14px;
            height: 40px;
        }
    }
}
