@import "../vars.scss";
.done-card {
    padding: 40px 32px;
    background-color: $grey3;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__img {
        img {
            max-width: 100%;
            display: block;
        }
    }
    &__title,
    &__subtitle {
        font-size: 16px;
        line-height: 140%;
        color: $grey;
    }
    &__title {
        margin-top: 16px;
        min-height: 66px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__desc {
        font-size: 16px;
        line-height: 140%;
        margin-top: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    &__link {
        height: 45px;
    }
    &__feedback {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey;
        &:hover {
            color: $grey;
            text-decoration-line: underline;
        }
    }
    &__bottom {
        flex-grow: 1;
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid $grey2;
        display: flex;
        flex-direction: column;
    }
    &__nav {
        padding-top: 32px;
        margin-top: auto;
    }
}

.news-card {
    &__img {
        height: 180px;
        display: block;
        overflow: hidden;
        position: relative;
        &:hover {
            img {
                z-index: 3;
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
        img {
            transition: all .225s;
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__tags {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__tag {
        display: flex;
        align-items: center;
        padding: 0 17px;
        border-radius: 50px;
        border: 1px solid $grey2;
        height: 34px;
        font-size: 14px;
        white-space: nowrap;
        margin: 10px 10px 0 0;
        &:hover {
            background-color: $primaryHover;
            border-color: $primaryHover;
            color: $black;
        }
    }
    &__title {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-top: 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover {
            color: $primaryHover;
        }
    }
}

.qa-card {
    border: 1px solid $grey2;
    padding: 28px 32px;
    &:not(:first-child) {
        margin-top: -1px;
    }
    &--active {
        .qa-card {
            &__title {
                font-weight: 600;
            }
            &__btn {
                background-color: $primaryHover;
                border-color: $primaryHover;
                svg {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &__show {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        max-width: 585px;
        line-height: 140%;
    }
    &__btn {
        margin-left: 20px;
        width: 28px;
        height: 28px;
        padding: 0;
        border-radius: 50%;
        flex-shrink: 0;
    }
    &__hidden {
        margin-top: 12px;
        padding-right: 90px;
        display: none;
        p {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
        ol {
            ul {
                li {
                    margin: 0 !important;
                }
            }
            p {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.requisit-card {
    padding: 48px 50px;
    border: 1px dashed $grey2;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__badges {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5px;
    }
    &__badge {
        margin: 5px 5px 0 0;
        padding: 0 22px;
        height: 29px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
    }
    &__items {
        margin-top: 32px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 140%;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        &-title {
            color: $grey;
        }
    }
    &__btn {
        justify-content: unset;
        margin-top: 34px;
        font-size: 16px;
        line-height: 140%;
        text-align: left;
    }
    &__link {
        margin: 12px 0 32px;
        svg {
            margin-left: 8px;
        }
    }
    &__bottom {
        margin-top: auto;
        padding-top: 32px;
        border-top: 1px dashed $grey;
    }
    &__info {
        max-width: 285px;
        margin-bottom: 32px;
        p {
            font-size: 16px;
            line-height: 140%;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__nav {
        min-height: 52px;
    }
    &__pdf {
        margin-top: 12px;
        font-size: 14px;
        line-height: 140%;
        svg {
            margin-left: 8px;
        }
    }
}

.catalog-card {
    padding: 28px 32px;
    display: flex;
    align-items: center;
    border: 1px solid $grey2;
    font-size: 16px;
    &__info {
        width: 332px;
    }
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
    }
    &__has {
        display: flex;
        align-items: center;
        margin-top: 12px;
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        i {
            background-color: $green;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
            display: block;
        }
    }
    &__size {
        max-width: 500px;
        margin: 0 0 0 48px;
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 19px;
    }
    &__weight {
        width: 90px;
        flex-shrink: 0;
    }
    &__action {
        width: 163px;
        flex-shrink: 0;
        margin-left: auto;
    }
    &__price {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }
    &__nav {
        margin-top: 13px;
        display: flex;
        align-items: center;
    }
    &__order {
        flex-grow: 1;
        width: unset;
        height: 37px;
        padding: 0;
        font-size: 14px;
    }
    &__estimate {
        width: 47px;
        height: 37px;
        margin-left: 12px;
    }
}

.blog-card {
    display: block;
    &__img {
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 8px;
    }
    &__title {
        font-weight: 600;
        line-height: 120%;
        margin-top: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.catalog-card2 {
    padding: 12px 32px 40px;
    border: 1px solid $grey2;
    display: flex;
    flex-direction: column;
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    &__title,
    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        display: block;
        margin-top: 22px;
    }
    &__wrap {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    &__has {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        i {
            background-color: $green;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 8px;
            display: block;
        }
    }
    &__art {
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        margin-left: 40px;
    }
    &__btn {
        margin-top: 22px;
        padding: 0;
        height: 37px;
        font-size: 14px;
    }
    &__bottom {
        margin-top: auto;
    }
}

.contact-card {
    display: flex;
    align-items: center;
    padding: 32px 40px;
    border: 1px solid $grey2;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    &__img {
        width: 256px;
        height: 152px;
        flex-shrink: 0;
        margin-right: 40px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__link {
        margin-left: 16px;
        font-size: 14px;
        line-height: 140%;
        color: $grey;
    }
    &__wrap {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px 39px;
    }
    &__days {
        font-size: 16px;
        line-height: 140%;
        span {
            display: block;
            line-height: inherit;
        }
    }
    &__phone,
    &__mail {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        display: block;
    }
    &__mail {
        margin-top: 12px;
    }
    &__socials {
        &-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            svg {
                margin-right: 12px;
            }
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            &:hover {
                color: $black;
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

.team-card {
    position: relative;
    &__img {
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__prof {
        font-size: 16px;
        line-height: 140%;
        color: $grey;
        margin-top: 28px;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        margin-top: 12px;
    }
    &__items {
        margin-top: 20px;
        padding-top: 20px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 80px;
            height: 1px;
            background-color: $black;
            top: 0;
            left: 0;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        line-height: 140%;
        svg {
            margin-right: 12px;
        }
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        &:hover {
            color: $black;
            span {
                text-decoration: underline;
            }
        }
    }
    &__content {
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 2;
        color: #fff;
        padding: 22px 30px;
    }
}

.team-card2 {
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(51, 51, 51, 0.4) 100%);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .team-card {
        &__img {
            height: 100%;
        }
        &__prof {
            font-size: 18px;
            margin-top: 0;
            color: #fff;
        }
        &__name {
            margin-top: 4px;
        }
    }
}

.search-card {
    display: flex;
    align-items: center;
    padding: 32px 0;
    border-bottom: 1px solid $grey2;
    &__img {
        display: block;
        width: 180px;
        height: 100px;
        margin-right: 40px;
        flex-shrink: 0;
        background-color: $grey3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        flex-grow: 1;
    }
    &__title {
        font-weight: 600;
        line-height: 120%;
    }
    &__art {
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        margin-top: 8px;
    }
    &__calc {
        width: 95px;
        margin-right: 100px;
        flex-shrink: 0;
    }
    &__action {
        width: 163px;
        flex-shrink: 0;
        margin-left: auto;
    }
    &__price {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }
    &__nav {
        margin-top: 13px;
        display: flex;
        align-items: center;
    }
    &__order {
        flex-grow: 1;
        width: unset;
        height: 37px;
        padding: 0;
        font-size: 14px;
    }
    &__estimate {
        width: 47px;
        height: 37px;
        margin-left: 12px;
    }
}

.search-card2 {
    padding-right: 22px;
    .search-card {
        &__img {
            @media screen and (min-width: 1200px) {
                width: 140px;
            }
        }
        &__action {
            width: unset;
        }
        &__order {
            padding: 0;
            width: 96px;
        }
    }
}

.order-card{
    border: 1px solid $grey2;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 12px;
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        background-color: $primaryHover;
    }
    &--success{
        &::before{
            background-color: $green;
        }
    }
    &--danger{
        &::before{
            background-color: $red;
        }
    }
    &:not(:last-child){
        margin-bottom: 20px;
    }
    &__show{
        min-height: 100px;
        align-items: center;
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        display: flex;
        align-items: center;
        svg,
        img{
            margin-right: 8px;
        }
    }
    &__date{
        margin-top: 4px;
    }
    &__download{
        &:hover{
            path{
                stroke: $primaryHover;
            }
        }
    }
    &__action{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__toggle{
        background-color: transparent;
        flex-shrink: 0;
        &--active{
            svg{
                transform: rotate(180deg);
            }
        }
    }
    &__hidden{
        padding: 0 40px 28px 52px;
        display: none;
    }
}

.order-manager{
    padding: 20px 40px;
    background-color: $grey3;
    display: flex;
    align-items: center;
    &__avatar{
        border: 1px solid $grey2;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 12px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc{
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    &__num{
        margin-left: 12px;
    }
}

.order-table{
    margin-top: 28px;
    table{
        width: 100%;
    }
    th,
    td{
        font-size: 16px;
        line-height: 130%;
        &:nth-child(1){
            min-width: 50px;
        }
        &:nth-child(2){
            width: 380px;
        }
        &:nth-child(3){
            width: 200px;
        }
        &:nth-child(4),
        &:nth-child(5){
            width: 185px;
        }
        &:nth-child(6){
            width: 150px;
        }
    }
    th{
        font-weight: 600;
        color: $grey;
        white-space: nowrap;
    }
    td{
        padding: 20px 0;
        border-bottom: 1px solid $grey2;
    }
    tbody{
        tr{
            &:last-child{
                td{
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &__art{
        margin-top: 4px;
    }
    &__download{
        svg{
            margin-right: 8px;
        }
        &:hover{
            path{
                stroke: $primaryHover;
            }
        }
    }
}

.doc-card{
    min-height: 104px;
    padding: 28px 0;
    position: relative;
    &:not(:last-child){
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: calc(100% - 80px);
            background-color: $grey2;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    &__check{
        position: relative;
        margin-right: 12px;
        flex-shrink: 0;
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
            &:hover + label:before{
                opacity: 1;
            }
            &:checked{
                &+label:before{
                    opacity: 1;
                }
                &:hover+label:before{
                    background-image: url(../img/check6.svg);
                }
            }
        }
        label{
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $grey3;
            border: 1px solid $grey2;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $primaryHover;
                background-image: url(../img/check5.svg);
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity .3s;
            }
        }
    }
    &__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }
    &__date{
        margin-top: 4px;
    }
    &__status,
    &__badge{
        display: flex;
        align-items: center;
        padding: 0 15.5px;
        font-size: 10px;
        line-height: 120%;
        text-transform: uppercase;
    }
    &__badge{
        color: #fff;
        background-color: $green;
        margin-left: 12px;

        margin-top: 2px;
        height: 20px;
        &-wrap{
            align-self: flex-start;
        }
    }
    &__edo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 40px;
    }
    &__download{
        font-size: 16px;
        line-height: 140%;
        svg{
            margin-right: 8px;
        }
        &:hover{
            path{
                stroke: $primaryHover;
            }
        }
    }
    &__status{
        margin-right: auto;
        min-width: 120px;
        height: 26px;
        justify-content: center;
        &._warning{
            background: #FFF3C2;
            color: $primaryHover;
        }
        &._muted{
            background-color: $grey3;
            color: $grey;
        }
        &._success{
            background-color: #E1F2D0;
            color: $green;
        }
    }
}


@media screen and (max-width: 1500px) {
    .news-card {
        &__img {
            height: 230px;
        }
    }
    .requisit-card {
        padding: 28px;
    }
    .catalog-card {
        padding: 20px;
        &__info {
            width: 220px;
            flex-grow: 1;
        }
        &__size {
            flex-grow: 0;
            margin-left: 18px;
            width: 400px;
        }
        &__weight {
            width: 70px;
            margin: 0 20px;
        }
    }
    .contact-card {
        &__img {
            width: 256px;
            height: 222px;
            margin-right: 32px;
        }
        &__top {
            display: block;
        }
        &__link {
            display: block;
            margin: 8px 0 0;
        }
        &__wrap {
            margin-top: 32px;
            grid-template-columns: 1fr 1fr;
        }
        &__days {
            @media screen and (min-width: 800px) {
                grid-column: 1/3;
            }
        }
    }

    .order-card{
        &__hidden{
            padding-left: 32px;
            padding-right: 20px;
        }
    }

    .doc-card{
        &:before{
            width: calc(100% - 40px);
        }
        &__content{
            padding-left: 20px;
        }
        &__edo{
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 1350px) {
    .catalog-card {
        &__size {
            width: 343px;
            grid-template-columns: 95px 107px 103px;
        }
    }
    .team-card {
        &__img {
            height: 420px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .done-card {
        &__title,
        &__subtitle,
        &__desc {
            font-size: 14px;
        }
        &__title {
            margin-top: 12px;
            min-height: 60px;
        }
        &__desc {
            margin-top: 12px;
        }
        &__nav {
            padding-top: 28px;
        }
    }

    .qa-card {
        padding: 20px 32px;
    }

    .catalog-card {
        padding: 16px 20px;
        font-size: 14px;
        &__info {
            max-width: 400px;
        }
        &__title {
            font-size: 14px;
        }
        &__size {
            display: flex;
            flex-wrap: wrap;
            gap: unset;
            height: 17px;
            width: 170px;
            margin-left: 28px;
        }
        &__length {
            margin-right: 5px;
            white-space: nowrap;
            &:before {
                content: 'Д: ';
            }
            &::after {
                content: ",";
            }
        }
        &__width {
            margin-right: 5px;
            white-space: nowrap;
            &:before {
                content: 'Ш: ';
            }
            &::after {
                content: ",";
            }
        }
        &__height {
            white-space: nowrap;
            &:before {
                content: 'В: ';
            }
        }
        &__length,
        &__width,
        &__height {
            display: flex;
            align-items: center;
            &::before {
                margin-right: 5px;
            }
        }
        &__weight {
            display: flex;
            align-items: center;
        }
        &__has {
            margin-top: 8px;
        }
        &__price {
            font-size: 15px;
        }
        &__nav {
            margin-top: 8px;
        }
    }

    .catalog-card2 {
        &__title,
        &__price {
            font-size: 18px;
        }
        &__btn {
            margin-top: 24px;
        }
        &__art {
            margin-left: 30px;
        }
    }

    .contact-card {
        padding: 24px;
        &__img {
            width: 234px;
            height: 198px;
            margin-right: 20px;
        }
        &__socials-item,
        &_phone,
        &__mail,
        &__days {
            font-size: 14px;
        }
        &__socials-item {
            svg {
                width: 16px;
                height: auto;
                margin-right: 8px;
            }
        }
    }

    .search-card {
        padding: 24px 0;
        &__img {
            width: 114px;
            height: 62px;
            margin-right: 18px;
        }
        &__calc {
            width: 84px;
            margin-right: 32px;
        }
        &__art {
            margin-top: 4px;
        }
    }

    .order-card{
        &:not(:last-child){
            margin-bottom: 16px;
        }
        &__title{
            font-size: 15px;
            line-height: 140%;
        }
        &__date{
            margin-top: 0;
        }
    }

    .order-manager{
        padding: 20px 28px;
    }

    .order-table{
        th,
        td{
            font-size: 14px;
            &:nth-child(1){
                min-width: 28px;
            }
        }
        td{
            padding: 16px 0;
        }
    }
}

@media screen and (max-width: 1050px) {
    .team-card {
        &__img {
            height: 320px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .news-card {
        &__img {
            height: 180px;
        }
    }
}

@media screen and (max-width: 900px) {
    .team-card {
        &__img {
            height: 390px;
        }
    }
}

@media screen and (max-width: 800px) {
    .done-card {
        padding: 40px 28px;
    }

    .qa-card {
        padding: 20px;
        &__btn {
            margin-left: 15px;
        }
        &__hidden {
            padding-right: 0;
        }
    }

    .requisit-card {
        padding: 28px 20px;
        &__items {
            margin-top: 28px;
        }
        &__item {
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
        &__btn {
            margin-top: 28px;
            font-size: 14px;
        }
        &__link {
            font-size: 14px;
            margin-bottom: 28px;
        }
        &__bottom {
            padding-top: 28px;
        }
        &__info {
            margin-bottom: 28px;
            p {
                font-size: 14px;
            }
        }
        &__pdf {
            font-size: 14px;
            svg {
                margin-left: 5px;
            }
        }
    }

    .catalog-card {
        flex-wrap: wrap;
        padding: 20px;
        &__info {
            width: 100%;
            max-width: unset;
        }
        &__has {
            font-size: 12px;
            i {
                margin-right: 6px;
            }
        }
        &__weight,
        &__size {
            margin: 20px 0 0;
            width: 100%;
            padding-left: 117px;
            position: relative;
            &:before {
                content: 'Размеры, мм';
                position: absolute;
                z-index: 1;
                font-size: 14px;
                color: $grey;
                left: 0;
                width: 117px;
                display: flex;
                align-items: center;
            }
        }
        &__length,
        &__width {
            &::before {
                display: none;
            }
            &::after {
                content: " х ";
                margin-left: 5px;
            }
        }
        &__height {
            &::before {
                display: none;
            }
        }
        &__weight {
            margin-top: 7px;
            &::before {
                content: "Вес, кг";
            }
        }
        &__action {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
        &__nav {
            flex-grow: 1;
            margin: 0 0 0 auto;
            max-width: 163px;
        }
    }

    .catalog-card2 {
        padding: 12px 20px 28px;
    }

    .contact-card {
        padding: 40px 32px;
        display: block;
        &__img {
            width: 100%;
            height: unset;
            margin: 0 0 32px;
        }
        &__wrap {
            grid-template-columns: 1fr;
        }
    }

    .team-card {
        &__img {
            height: 330px;
        }
        &__prof {
            font-size: 14px;
            margin-top: 20px;
        }
        &__name {
            font-size: 15px;
            margin-top: 8px;
        }
        &__items {
            margin-top: 16.5px;
            padding-top: 16.5px;
            &::before {
                width: 60px;
            }
        }
        &__item {
            svg {
                margin-right: 8px;
            }
        }
    }

    .search-card {
        flex-wrap: wrap;
        &__img {
            margin-right: 20px;
        }
        &__info {
            width: calc(100% - 134px);
        }
        &__calc {
            display: none;
        }
        &__action {
            width: 100%;
            margin-top: 12px;
            display: flex;
            align-items: center;
        }
        &__nav {
            flex-grow: 1;
            margin: 0 0 0 auto;
            max-width: 163px;
        }
    }

    .blog-card {
        &__tags {
            margin-top: 4px;
        }
        &__title {
            margin-top: 12px;
        }
    }

    .order-card{
        &:before{
            width: 8px;
        }
        &__col{
            &:nth-child(1){
                padding: 20px 0 20px 28px;
            }
            &:nth-child(2){
                padding: 16px 20px 20px 0;
            }
            &:nth-child(3){
                grid-column: 1/3;
                padding: 0 20px 24px 28px;
            }
            &:nth-child(4){
                order: -1;
                grid-column: 1/3;
            }
        }
        &__show{
            align-items: unset;
            padding: 0;
            gap: unset !important;
        }
        &__action{
            padding-left: 28px;
            padding-right: 20px;
            height: 68px;
            border-bottom: 1px solid $grey2;
        }
        &__hidden{
            padding: 0 20px 24px 28px;
        }
        &__title{
            &--mob{
                display: block;
                &::before{
                    margin-right: 2px;
                    content: attr(data-mob-title);
                }
            }
        }
    }

    .order-manager{
        padding: 16px;
        &__title{
            span{
                display: none;
            }
            &::before{
                content: attr(data-title);
                display: block;
                color: $grey;
                line-height: 120%;
            }
        }
        &__num{
            margin-left: 8px;
        }
    }

    .order-table{
        margin: 0;
        table,
        tbody{
            display: block;
        }
        thead{
            display: none;
        }
        td{
            padding: 0;
            width: 100% !important;
            border: none;
            &:nth-child(1){
                position: absolute;
                top: 20px;
                left: 0;
                width: 23px;
            }
            &:nth-child(2){
                grid-column: 1/4;
                order: 1;
            }
            &:nth-child(6){
                order: 2;
                grid-column: 1/4;
            }
            &:nth-child(3){
                order: 3;
            }
            &:nth-child(4){
                order: 4;
            }
            &:nth-child(5){
                order: 5;
            }
        }
        tr{
            display: grid;
            grid-template-columns: 1.2fr .8fr 1.2fr;
            gap: 16px 5px;
            padding: 20px 0 20px 23px;
            position: relative;
            border-bottom: 1px solid $grey2;
            &:last-child{
                border: none;
                padding-bottom: 0;
            }
        }
        &__download{
            span{
                font-size: 0;
                &::before{
                    content: attr(data-mob-title);
                    font-size: 14px;
                }
            }
        }
    }

    .doc-card{
        padding: 20px;
        &--edo{
            padding-top: 48px;
            position: relative;
        }
        &__content{
            padding: 0;
            flex-wrap: wrap;
        }
        &__badge{
            margin: 0;
            &-wrap{
                order: -1;
                width: 100%;
                display: flex;
                padding-left: 50px;
                margin-bottom: 8.5px;
            }
        }
        &__check{
            margin-right: 8px;
            label{
                width: 42px;
                height: 42px;
            }
            img{
                width: 17px;
            }
        }
        &__info{
            width: calc(100% - 50px);
        }
        &__edo{
            display: block;
            margin-top: 12px;
            padding: 0 0 0 50px;
        }
        &__download{
            font-size: 14px;
            svg{
                width: 16px;
                height: auto;
            }
        }
        &__status{
            position: absolute;
            top: 20px;
            right: 20px;
            height: 20px;
            min-width: 90px;
        }
    }
}

@media screen and (max-width: 576px) {
    .search-card {
        align-items: unset;
        &__img {
            width: 65px;
            height: 40px;
        }
        &__info {
            width: calc(100% - 85px);
        }
    }
}

@media screen and (max-width: 350px) {
    .catalog-card {
        padding: 12px;
        &__nav {
            margin-left: 12px;
        }
        &__size {
            margin-top: 12px;
        }
    }
}
