@import "../vars.scss";
.breadcrumbs {
    &__item {
        font-size: 14px;
        line-height: 140%;
        position: relative;
        font-weight: 400;
        display: inline;
        &:last-child {
            color: $grey;
        }
        &:not(:first-child) {
            margin-left: 32px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 1px;
                height: 18px;
                background-color: $grey2;
                border-radius: 1px;
                top: 0px;
                right: 100%;
                margin-right: 15.5px;
            }
        }
    }
}