<tr>
    <td>@@num</td>
    <td>
        <a href="" class="semiBold">@@id</a>
        <div class="order-table__art body-text grey-text">@@art</div>
    </td>
    <td>
        @@price
    </td>
    <td>@@count</td>
    <td>
        <span class="semiBold">@@nds</span>
    </td>
    <td>
        <a href="" class="order-table__download">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.12561 12.7622L4.91361 8.87419M9.12561 12.7622L13.0136 8.8742M9.12561 12.7622V0.450195M16.9016 8.2262V16.6502H1.34961V8.2262" stroke="#939393" stroke-width="1.5" stroke-linejoin="round"/>
            </svg>
            <span data-mob-title="Скачать паспорт качества">Скачать</span>
        </a>
    </td>
</tr>
