<div class="qa-card__show">
    <div class="qa-card__title">@@title</div>
    <button class="qa-card__btn btn btn-black-outline">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 0.5V13.5" stroke="#333333"/>
            <path d="M0.5 7L13.5 7" stroke="#333333"/>
        </svg>
    </button>
</div>
<div class="qa-card__hidden">
    <p>
        <strong>При доставке изделий на объект производите выгрузку? </strong>
    </p>
    <ol>
        <li>Если доставка оформлена манипулятором, то на подготовленный вами участок, соблюдая схемы складирования, мы производим выгрузку. Обязательно с вашей стороны должны быть два человека, которые смогут принят груз.
        </li>
        <li>
            <p>Если доставка оформлена другим видом автотранспорта, то с вашей стороны необходимо:</p>
            <ul>
                <li>подготовить место для выгрузки изделий;</li>
                <li>поставить кран, который выдержит грузоподъёмность изделий; </li>
                <li>два человека, которые смогут принят груз.</li>
            </ul>
        </li>
    </ol>



</div>