@import '_header';
@import '_footer';
@import '_menu';
@import '_search';
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.container {
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 40px;
    @media screen and (max-width: 800px) {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        margin-top: 40px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        margin-top: 24px;
    }
}