<section class='menu'>
    <div class='menu__inner'>
        <!--  menu__left--hide -->
        <div class="menu__left">
            <a href="" class="menu__all-products">Смотреть все товары</a>
            <div class="menu__left-inner">
                <div class="menu__categories">
                    <div class="menu__category menu__category--active" data-category="1">
                        <span>Общегражданское и промышленное строительство</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="2">
                        <span>Дорожное строительство</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="3">
                        <span>Инженерная инфраструктура</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="4">
                        <span>Энергетическое строительство</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="5">
                        <span>Благоустройство территорий</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="6">
                        <span>Железнодорожное строительство</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="7">
                        <span>Нефтегазовое строительство</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="menu__category" data-category="8">
                        <span>Спецпозиции</span>
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 13L12 7L5 1" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu__right">
            <div class="menu__right-inner">
                <!-- submenu-mob--active -->
                <div class="submenu submenu--active" data-category="1">
                    @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="2">
                    2 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="3">
                    3 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="4">
                    4 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="5">
                    5 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="6">
                    6 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="7">
                    7 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>
                <div class="submenu" data-category="8">
                    8 @@include('_submenu.html')
                    <div class="submenu__back">
                        <span class="submenu__back-title"></span>
                    </div>
                    <a href="" class="menu__all">Все товары</a>
                </div>


            </div>
        </div>
    </div>
</section>