<section class='header-search'>
    <div class='container'>
        <div class='header-search__inner'>
            <div class="header-search__title display2">Категории товаров</div>
            <div class="header-search__items">
                <div class="header-search__group">
                    <div class="header-search__subtitle">
                        Общегражданское и промышленное строительство
                    </div>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты перек</span>рытия ИП</span>
                        <span class="header-search__item-num">12</span>
                    </a>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты перек</span>рытия ПБ</span>
                        <span class="header-search__item-num">158</span>
                    </a>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты</span> плоские <span>перек</span>рытия</span>
                        <span class="header-search__item-num">2</span>
                    </a>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты</span> перекрытия пустотные ПК</span>
                        <span class="header-search__item-num">99</span>
                    </a>
                </div>
                <div class="header-search__group">
                    <div class="header-search__subtitle">Энергетическое строительство</div>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты перек</span>рытия прямоугольных труб</span>
                        <span class="header-search__item-num">18</span>
                    </a>
                    <a href="" class="header-search__item">
                        <span class="header-search__item-title"><span>Плиты перек</span>рытия с переменной высотой (ПНОС)</span>
                        <span class="header-search__item-num">5</span>
                    </a>
                </div>
            </div>

            <div class="header-search__results">
                <div class="header-search__title display2">Найден: 541 товар</div>
                <div class="header-search__results-items">
                    <div class="search-card">
                        @@include('../cards/_search-card.html')
                    </div>
                    <div class="search-card">
                        @@include('../cards/_search-card.html')
                    </div>
                    <div class="search-card">
                        @@include('../cards/_search-card.html')
                    </div>
                    <div class="search-card">
                        @@include('../cards/_search-card.html')
                    </div>
                </div>
                <a href="" class="header-search__all btn btn-yellow">Посмотреть все результаты</a>
            </div>
        </div>
    </div>
</section>