<div class="submenu__grid">
    <div class="submenu__group">
        <div class="submenu__title" data-submenu="1">
            <span class="submenu__title-text">Плиты перекрытия</span>
            <span class="submenu__title-num">5</span>
        </div>
        <div class="submenu__items" data-submenu="1">
            <div class="submenu__back2">
                <span class="submenu__back2-title"></span>
            </div>
            <a href="" class="menu__all-products">Смотреть все товары</a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Плиты перекрытия ИП</span>
                <span class="submenu__item-num">12</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Плиты перекрытия ПБ</span>
                <span class="submenu__item-num">158</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Плиты плоские перекрытия</span>
                <span class="submenu__item-num">2</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Плиты ребристые</span>
                <span class="submenu__item-num">1</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Плиты перекрытия пустотные ПК</span>
                <span class="submenu__item-num">99</span>
            </a>
        </div>
    </div>

    <div class="submenu__group">
        <div class="submenu__title" data-submenu="2">
            <span class="submenu__title-text">Изделия из стеклофибробетона</span>
            <span class="submenu__title-num">115</span>
        </div>
        <div class="submenu__items" data-submenu="2">
            <div class="submenu__back2">
                <span class="submenu__back2-title"></span>
            </div>
            <a href="" class="menu__all-products">Смотреть все товары</a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Лестничные марши из стеклофибробетона</span>
                <span class="submenu__item-num">158</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Фасадный декор из стеклофибробетона</span>
                <span class="submenu__item-num">158</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Колонны из стеклофибробетона</span>
                <span class="submenu__item-num">157</span>
            </a>
        </div>
    </div>

    <div class="submenu__group">
        <div class="submenu__title" data-submenu="3">
            <span class="submenu__title-text">Панели</span>
            <span class="submenu__title-num">3</span>
        </div>
        <div class="submenu__items" data-submenu="3">
            <div class="submenu__back2">
                <span class="submenu__back2-title"></span>
            </div>
            <a href="" class="menu__all-products">Смотреть все товары</a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Панель из ячеистого бетона</span>
                <span class="submenu__item-num">12</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Панели стеновые шахт лифтов</span>
                <span class="submenu__item-num">8</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Панели стеновые внутренние кровли теплого чердака ВСК 1-2</span>
                <span class="submenu__item-num">158</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Панели железобетонные внутренние чердака (контрфорс) 8КФ</span>
                <span class="submenu__item-num">158</span>
            </a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Панели железобетонные внутренние чердака СВЧ, СВЧД, ВЧ</span>
                <span class="submenu__item-num">158</span>
            </a>
        </div>
    </div>

    <div class="submenu__group">
        <div class="submenu__title" data-submenu="4">
            <span class="submenu__title-text">Огнеупорные изделия</span>
            <span class="submenu__title-num">573</span>
        </div>
        <div class="submenu__items" data-submenu="4">
            <div class="submenu__back2">
                <span class="submenu__back2-title"></span>
            </div>
            <a href="" class="menu__all-products">Смотреть все товары</a>
            <a href="" class="submenu__item">
                <span class="submenu__item-title">Огнестойкие стеновые панели</span>
                <span class="submenu__item-num">12</span>
            </a>
        </div>
    </div>
</div>