<div class='container'>
    <div class='individual__inner'>
        <div class="individual__img">
            <img src="img/individual.png" alt="">
        </div>
        <div class="individual__info">
            <div class="individual__title display2">Проектируем и производим на заказ по индивидуальным чертежам</div>
            <div class="individual__desc">Мы обеспечиваем высокое качество продукции, точное соблюдение размеров и технологии. Разрабатываем схемы погрузки для осуществления ЖД доставки.</div>
            <button class="individual__btn btn btn-yellow">Отправить заявку</button>
        </div>
    </div>
</div>