<div class='container'>
    <div class='info__inner'>
        <div class="info__left">
            <img src="img/team.webp" alt="" class="info__img">
            <div class="info__hint">Отдел продаж компании ЖБИ России</div>
        </div>
        <div class="info__right">
            <div class="info__title display2">ЖБИ России — качественно и в срок</div>
            <div class="info__desc">
                <p>Комплексно обеспечиваем частных застройщиков и строительно-ремонтных организаций продукцией, необходимой для возведения объектов жилого и промышленного назначения. Являемся поставщиком многих заводов. Благодаря этому решаем любые запросы
                    клиентов. </p>
                <p>Доставка производится собственным автотранспортом грузоподъёмностью 20т или ЖД. Возможен самовывоз. Способы оплаты — любые, которые вам удобны: безналичный расчёт, наличными, картой вашего банка. Предоставляем закрывающие документы.
                </p>
            </div>
            <div class="info__subtitle">Дополнительные услуги:</div>
            <ul class="info__list">
                <li>Проектирование изделий под индвидуальные задачи.</li>
                <li>Аренда манипуляторов и кранов для разгрузки и монтажа.</li>
            </ul>
            <a href="" class="info__link link link1">
                <span>Подробнее о компании</span>
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 11L6 6L1 1" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="info__items">
        <div class="info__item">
            <div class="info__item-title display2">с 2008 года</div>
            <div class="info__item-desc">на рынке ЖБИ</div>
        </div>
        <div class="info__item">
            <div class="info__item-title display2">1213 заводов</div>
            <div class="info__item-desc">по всей России</div>
        </div>
        <div class="info__item">
            <div class="info__item-title display2">более 300 000 м³</div>
            <div class="info__item-desc">объём отгрузок ЖБИ изделий</div>
        </div>
        <div class="info__item">
            <div class="info__item-title display2">более 2 млрд ₽</div>
            <div class="info__item-desc">оборот компании</div>
        </div>
    </div>
</div>