<div class="doc-selected">
    <div class="container">
        <div class="doc-selected__inner">
            <div class="doc-selected__info">
                <div class="doc-selected__icon">
                    <img src="img/pdf.svg" alt="">
                </div>
                <div class="doc-selected__name">
                    <span class="doc-selected__num">2</span>
                    <span>документ(а/ов)</span>
                </div>
            </div>
            <div class="doc-selected__action">
                <a download="" href="" class="doc-selected__download _close-doc-popup btn btn-black">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.12561 12.7622L4.91361 8.87419M9.12561 12.7622L13.0136 8.8742M9.12561 12.7622V0.450195M16.9016 8.2262V16.6502H1.34961V8.2262" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                    <span>Скачать все </span>
                </a>
                <button class="doc-selected__close _close-doc-popup">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 21L21 1M21 21L1 1" stroke="#333333" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
