<div class="filter-cabinet">
    <div class="filter-cabinet__title">Показать</div>
    <div class="filter-cabinet__select">
        <select class="j-select">
            <option>@@title</option>
            <option>Новый счет</option>
            <option>Сделана предоплата</option>
            <option>Оплачен 100%</option>
            <option>Доставка/Отгрузка</option>
            <option>Отгружен</option>
            <option>Отменен</option>
        </select>
    </div>
    <div class="filter-cabinet__select">
        <select class="j-select">
            <option>Все года</option>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2015</option>
            <option>2014</option>
            <option>2012</option>
        </select>
    </div>
</div>
