@import 'vars';
@import 'components/fonts.scss';
.loader {
    position: relative;
    display: flex;
    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary;
        margin: 0 4px;
        &:nth-child(1) {
            animation: bounce 1s ease-in-out infinite;
        }
        &:nth-child(2) {
            animation: bounce 1s ease-in-out 0.33s infinite;
        }
        &:nth-child(3) {
            animation: bounce 1s ease-in-out 0.66s infinite;
        }
    }
}

@keyframes bounce {
    0%,
    75%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-7px);
        opacity: 0.2;
    }
}

.search-block {
    position: relative;
    margin: 0;
    &--active {
        .search-block {
            &__submit {
                display: none;
            }
            &__reset {
                display: flex;
            }
        }
    }
    input {
        height: 49px;
        padding-right: 50px;
    }
    &__nav {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__reset {
        display: none;
        &:hover {
            path {
                fill: $primary;
            }
        }
    }
    &__submit {
        &:hover {
            path {
                stroke: $primary;
            }
        }
    }
    &__loader {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 8px;
    }
}

.tabs {
    display: flex;
    &-content {
        display: none;
        &--active {
            display: block;
        }
    }
}

.show-more {
    margin: 48px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 140%;
    svg {
        margin-right: 12px;
    }
    &:hover {
        color: $primaryHover;
        path {
            stroke: $primaryHover;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    border: 1px solid $grey2;
    margin-top: 28px;
    position: relative;
    padding: 0 100px;
    &__btn {
        width: 30px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        &--prev {
            left: 75px;
        }
        &--next {
            right: 75px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: $grey;
        &:hover {
            color: $black;
        }
        &--active {
            color: $black;
            pointer-events: none;
        }
    }
}

.scroll-up {
    z-index: 22;
    position: absolute;
    right: 50px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    &:hover {
        background-color: $primaryHover;
        border-color: $primaryHover;
        path {
            stroke: $black;
        }
    }
    @media screen and (max-width: 80px) {
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        svg {
            width: 18px;
            height: auto;
        }
    }
    &--active {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 1500px) {
    .pagination {
        &__btn {
            &--prev {
                left: 50px;
            }
            &--next {
                right: 50px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .show-more {
        margin-top: 40px;
        font-size: 14px;
    }
    .pagination {
        margin-top: 24px;
        height: 50px;
        &__btn {
            &--prev {
                left: 42px;
            }
            &--next {
                right: 42px;
            }
        }
        &__item {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 800px) {
    .show-more {
        margin-top: 40px;
    }
    .pagination {
        margin-top: 40px;
        padding: 0 25px;
        border: none;
        height: unset;
        &__btn {
            width: 20px;
            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &--prev {
                left: 0;
                svg {
                    left: 0;
                }
            }
            &--next {
                right: 0;
                svg {
                    right: 0;
                }
            }
        }
        &__item {
            margin: 0 7px;
            min-width: 26px;
            height: 26px;
            border: 1px solid transparent;
            padding: 0 7px;
            &--active {
                border-color: $black;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .pagination {
        &__item {
            margin: 0 4px;
        }
    }
}