$font1:'Inter',
sans-serif;
$black: #333;
$primary: #FFCC00;
$primaryHover:#EEA501;
$primaryActive:#D09001;
$primaryLight:#FFF3C2;
$grey:#939393;
$grey2:#DFDFDF;
$grey3:#F6F6F6;
$grey4:#F7F7F9;
$grey5:#E0E2E7;
$green:#69BE15;
$red:#EA1111;
$dark:#2D2D2D;
$yellow:#FFF3C2;